@import 'scss/mixins';
@import 'scss/variables';

.form__select {
    position: relative;
}

.form__select button.form__select__value {
    height: calc(44px - $spacer*0.5);
    line-height: 32px;
    margin: 0;
    padding: 0;
    padding: $spacer*0.5 $spacer;
    border: none;
    box-sizing: border-box;
    background: none;
    text-align: left;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    cursor: pointer;
    overflow: hidden;
}

.form__select button:disabled {
    cursor: default;
}

.form__select.--full-width {
    width: 100%;
}

.form__select__dropdown {
    z-index: 1;
    position: absolute;
    left: -2px;
    right: -2px;
    top: 100%;
    display: none;
    background: #fff;
    color: $text-primary;
    border: 1px solid #B7BCC1;
    border-top: none;
    border-radius: 0px 0px $spacer*0.5 $spacer*0.5;
    box-sizing: border-box;

    .form__select__dropdown__input {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        background: none;
        padding: $spacer;
    }

    .form__select__dropdown__items {
        overflow-y: scroll;
        max-height: 200px;
        cursor: pointer;
    }

    .form__select__dropdown__items > .form__select__dropdown__item {
        padding: $spacer $spacer;
    }

    .form__select__dropdown__items > .form__select__dropdown__item:not([data-state="is_disabled"]):hover, .form__select__dropdown__items > .form__select__dropdown__item:not([data-state="is_disabled"]).--is_selected {
        background: $link-primary;
        color: $text-alternative;
    }
}

.form__select__dropdown.--is_visible {
    display: block;
}

.form__select.--small button.form__select__value {
    height: calc(40px - $spacer*0.5);
    line-height: 28px;
}
